<?xml version="1.0"?>
<launch>


  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>

<arg name="use_map_topic" default="true"/>


<!-- Transform laser scan data to base_laser -->
<node pkg="tf" type="static_transform_publisher" name="laser_link" args="0.45 0 0.22 0 0 0 /base_link /base_laser 30" />

<!-- Run amcl -->

<node pkg="amcl" type="amcl" name="amcl" clear_params="true">
   <param name="use_map_topic" value="$(arg use_map_topic)"/>

   <remap from="scan" to="scan_front"/>

    <param name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y" value="$(arg initial_pose_y)"/>
</node>


</launch>